.DS_Store
.vscode
.idea
.vs
__pycache__

/build*
!build.zig
!build.zig.zon

/msvc/**/*.user
/msvc/**/obj/
/msvc/**/bin/
/doc
/cmake-build-debug
/amalgamated-dist

.cache
compile_commands.json

/zig-out
/zig-cache